In [1]:
import pandas as pd

In [2]:
path = r"D:\learning_corner\github\python\bootcamps\python_for_datascience_and_machine_learning\python_for_data_analysis_pandas\housing.csv"

In [7]:
df = pd.read_csv(path)

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
5981,-117.74,34.10,29,2742,488.0,2477,532,3.5072,121900.0,INLAND
5982,-117.75,34.10,21,8069,2174.0,4369,2036,3.2756,156800.0,INLAND
5983,-117.71,34.12,20,11250,1893.0,4952,1859,5.6785,239500.0,INLAND
5984,-117.73,34.12,26,6459,894.0,2487,885,6.2089,261800.0,INLAND
5985,-117.71,34.10,41,555,130.0,1492,123,2.0000,NaN,NaN

In [9]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=5986, step=1)

In [11]:
len(df)

5986

In [15]:
df['median_income']

0       8.3252
1       8.3014
2       7.2574
3       5.6431
4       3.8462
         ...
5981    3.5072
5982    3.2756
5983    5.6785
5984    6.2089
5985    2.0000
Name: median_income, Length: 5986, dtype: float64

In [17]:
df.iloc[:, [0,5]]

      longitude  population
0       -122.23         322
1       -122.22        2401
2       -122.24         496
3       -122.25         558
4       -122.25         565
...         ...         ...
5981    -117.74        2477
5982    -117.75        4369
5983    -117.71        4952
5984    -117.73        2487
5985    -117.71        1492

[5986 rows x 2 columns]

In [18]:
df.iloc[2, 4]

190.0

In [19]:
df.iloc[2,4] = 900

In [22]:
df.iloc[0:3, 0:5]

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           900.0

In [23]:
df.iloc[2]

longitude              -122.24
latitude                 37.85
housing_median_age          52
total_rooms               1467
total_bedrooms             900
population                 496
households                 177
median_income           7.2574
median_house_value      352100
ocean_proximity       NEAR BAY
Name: 2, dtype: object

In [24]:
type(df.iloc[2])

pandas.core.series.Series

In [25]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500.0,NEAR BAY

In [26]:
df.tail(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5984,-117.73,34.12,26,6459,894.0,2487,885,6.2089,261800.0,INLAND
5985,-117.71,34.10,41,555,130.0,1492,123,2.0000,NaN,NaN

In [27]:
df.at[0, 'ocean_proximity']

'NEAR BAY'

In [28]:
df.iat[0, 4]

129.0

In [29]:
households_greater_800 = df['households'] > 800

In [30]:
households_greater_800

0       False
1        True
2       False
3       False
4       False
        ...
5981    False
5982     True
5983     True
5984     True
5985    False
Name: households, Length: 5986, dtype: bool

In [31]:
type(households_greater_800)

pandas.core.series.Series

In [32]:
df[households_greater_800]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500.0,NEAR BAY
95,-122.26,37.80,36,5329,2477.0,3469,2323,2.0096,130000.0,NEAR BAY
96,-122.26,37.82,31,4596,1331.0,2048,1180,2.8345,183800.0,NEAR BAY
98,-122.26,37.82,22,3682,1270.0,2024,1250,1.2185,170000.0,NEAR BAY
99,-122.26,37.82,37,3633,1085.0,1838,980,2.6104,193100.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
5977,-117.78,34.11,23,7079,1381.0,3205,1327,3.0735,212300.0,INLAND
5979,-117.75,34.12,25,5411,998.0,2243,1019,4.3148,240700.0,INLAND
5982,-117.75,34.10,21,8069,2174.0,4369,2036,3.2756,156800.0,INLAND
5983,-117.71,34.12,20,11250,1893.0,4952,1859,5.6785,239500.0,INLAND
5984,-117.73,34.12,26,6459,894.0,2487,885,6.2089,261800.0,INLAND