In [1]:
import pandas as pd

In [3]:
# pandas version
pd.__version__

'1.0.5'

In [6]:
superheroes = ['ironman', 'batman', 'superman', 'spiderman', 'hulk']
ages = [34, 56, 25, 21, 43]
data={
    'superhero' : superheroes,
    'age' : ages,
}
df = pd.DataFrame(data=data)
df

   superhero  age
0    ironman   34
1     batman   56
2   superman   25
3  spiderman   21
4       hulk   43